<h1>Enter a new post!</h1>

<form method="post" action="/posts">

  <p>Post Title:<input type="text" name="name"></p>
  <p>Post Content:<input type="text" name="content"></p>
  <br>
  <button type="submit" id="submit" value="submit">Submit</button>
</form>
